* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  @media (max-width: 300px) {
    word-break: break-all;
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

button {
  cursor: pointer;
}

.skip-content {
  color: black;
  background-color: yellow;
  position: absolute;
}

.skip-content:not(:focus-visible) {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

#header {
  background-color: #331436;
  padding: 12px;
  display: flex;
  justify-content: center;
}

#header-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1400px;
  width: 100%;
  gap: 12px;

  @media (min-width: 760px) {
    justify-content: space-between;
  }
}

#logo-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

#header-title {
  color: #ffffff;
  font-weight: 28;
}

.section-title {
  color: #331436;
  font-size: 40px;
  font-weight: bold;
}

.blueButton {
  width: 240px;
  max-width: 90vw;
  height: 48px;
  background-color: #331436;
  transition: background-color 0.3s ease;
  color: #ffffff;
  transition: color 0.3s ease;
  border: none;
  border-radius: 8px;
}

.blueButton:hover {
  background-color: #29102c;
  color: #dfdfdf;
}

#login-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 60px;
  gap: 24px;
  padding: 40px 4px;

  @media (min-width: 310px) {
    padding: 40px 12px;
  }

  @media (min-width: 760px) {
    padding: 60px 30px;
  }
}

#login-description {
  font-size: 16px;
  font-weight: 300;
  color: #020000;
}

#login-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1100px;
  gap: 60px;
}

#login-title-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 520px;
  width: 100%;
}

#login-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 520px;
}

.login-input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 520px;
  max-width: 80vw;
  padding: 8px 12px;
  border: 1px solid #00000010;
  border-radius: 6px;
}

#login-input-helper-text {
  font-size: 12px;
  color: #00000050;
}

#login-email-input-error {
  display: none;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  color: red;
}

.error-message {
  display: none;
  align-items: center;
  gap: 4px;
  color: red;
  font-size: 12px;
}

.success-message {
  display: none;
  color: green;
  font-size: 14px;
  margin-top: 10px;
}

#login-success-message {
  display: none;
  align-items: center;
  flex-direction: column;
  min-width: 50%;
  gap: 12px;
}

#login-success-message-img {
  width: 200px;
}

#login-success-message-text {
  font-size: 24px;
  max-width: 300px;
  color: #331436;
}

.login-input-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#footer {
  display: flex;
  justify-content: center;
  background-color: #331436;
  color: #ffffff;
  padding: 60px;

  padding: 40px 4px;

  @media (min-width: 310px) {
    padding: 40px 12px;
  }

  @media (min-width: 760px) {
    padding: 60px;
  }
}

#footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 60px;
  width: 100%;
  max-width: 982px;
}

#footer-social-links-container {
  gap: 16px;
}

.footer-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 34px;
  height: 34px;
  border-radius: 100%;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 60px;
  list-style-type: none;
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
}
