* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  @media (max-width: 300px) {
    word-break: break-all;
  }
}

.red-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 48px;
  width: 240px;
  max-width: 100vw;
  border-radius: 8px;
  font-size: 16px;
  background-color: #cb4f57;
  color: #fcf4b6;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.red-button:hover {
  background-color: #a03a44;
  color: #c5be89;
}

.skip-content {
  color: black;
  background-color: yellow;
  position: absolute;
}

.skip-content:not(:focus-visible) {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.title-style {
  font-weight: bold;
  font-size: 40px;
}

.description-style {
  font-size: 16px;
  font-weight: 300;
}

#header {
  background-color: #331436;
  padding: 12px;
  display: flex;
  justify-content: center;
}

#header-desktop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1400px;
  width: 100%;
  gap: 12px;

  @media (min-width: 760px) {
    justify-content: space-between;
  }
}

#header-logo-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

#header-title {
  color: #ffffff;
  font-weight: 28;
}

#tools-featured-section-title {
  color: #331436;
}

#subscribe-section-title {
  color: #331436;
}

#hero-section {
  background-color: #7a1745;
  padding: 30px;
  gap: 60px;
}

#hero-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 520px;
  height: auto;
  align-items: center;
  text-align: center;
}

#hero-title {
  color: #ffffff;
}

#hero-highlight-title {
  color: #fcf4b6;
}

#hero-description {
  color: #ffffff;
  max-width: 90vw;
}

#hero-image {
  max-width: 90vw;
}

#manager-section {
  flex-direction: column;
  padding: 40px 12px;
  gap: 60px;

  @media (min-width: 760px) {
    padding: 60px 30px;
  }
}
#manager-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 1100px;

  @media (max-width: 760px) {
    align-items: center;
    text-align: center;
  }
}

#manager-title {
  color: #000000;
}

#manager-description {
  color: #020000;
}

.blue-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  text-decoration: none;
  height: 48px;
  width: 240px;
  max-width: 100vw;
  border-radius: 8px;
  font-size: 16px;
  background-color: #331436;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #ffffff;
  transition: color 0.3s ease;
  border: none;
}

.blue-button:hover {
  background-color: #29102c;
  color: #dfdfdf;
}

#manager-carder-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.manager-card-content {
  max-width: 340px;
}

.manager-card-description {
  gap: 4px;
  margin-top: 12px;
}

.manager-card-title {
  font-size: 16px;
  font-weight: 300;
  color: #331436;
}

.manager-card-amount {
  font-size: 20px;
  color: #331436;
  font-weight: 500;
}

.manager-img {
  max-width: 80vw;
}

#tools-section {
  flex-direction: column;
  padding: 60px;
  gap: 24px;
  background-color: rgba(252, 244, 182, 0.5);
  padding: 40px 12px;

  @media (min-width: 760px) {
    padding: 60px 30px;
  }
}

#tools-section-description {
  color: #331436;
}

#tools-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1100px;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
  gap: 40px;
}

.tools-item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  width: 245px;
  max-width: 90vw;
}

.tools-item-icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #331436;
  height: 100px;
  width: 100px;
  max-width: 90vw;
  max-height: 90vw;
}

.tools-item-icon {
  max-width: 50%;
}

.tools-item-content {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tools-item-title {
  font-size: 20px;
  font-weight: 300;
  color: #331436;
}
.tools-item-description {
  font-size: 16px;
  font-weight: 300;
  color: #331436;
}

#subscribe-section {
  padding: 60px;
  gap: 24px;
  padding: 40px 4px;

  @media (min-width: 310px) {
    padding: 40px 12px;
  }

  @media (min-width: 760px) {
    padding: 60px 30px;
  }
}

#subscribe-description {
  color: #020000;
}

#subscribe-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
  gap: 24px;

  @media (max-width: 798px) {
    justify-content: center;
  }
}

#subscribe-title-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.subscribe-input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 520px;
  max-width: 80vw;
  padding: 8px 12px;
  border: 1px solid #00000010;
  border-radius: 6px;
}

#subscribe-input-helper-text {
  font-size: 12px;
  color: #00000050;
}

#subscribe-email-input-error {
  display: none;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  color: red;
}

.error-message {
  display: none;
  align-items: center;
  gap: 4px;
  color: red;
  font-size: 12px;
}

.success-message {
  display: none;
  color: green;
  font-size: 14px;
  margin-top: 10px;
}

#subscribe-success-message {
  display: none;
  align-items: center;
  flex-direction: column;
  min-width: 50%;
  gap: 12px;
}

#subscribe-success-message-img {
  width: 200px;
}

#subscribe-success-message-text {
  font-size: 24px;
  max-width: 300px;
  color: #331436;
}

.subscribe-input-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#footer {
  display: flex;
  justify-content: center;
  background-color: #331436;
  color: #ffffff;
  padding: 60px;

  padding: 40px 4px;

  @media (min-width: 310px) {
    padding: 40px 12px;
  }

  @media (min-width: 760px) {
    padding: 60px;
  }
}

#footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  width: 100%;
  max-width: 982px;
}

#footer-social-links-container {
  gap: 16px;
}

.footer-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 34px;
  height: 34px;
  border-radius: 100%;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 60px;
  list-style-type: none;
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
}
